<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title>home</title>
</head>
<body>
    
    <main>
        <%- include('../partials/table'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %> 
    </footer>
    
</body>
</html>