<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title>Login</title>
    
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
       <%- include('../partials/login'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %> 
    </footer>
    
</body>
</html>